@font-face {
	font-family: gothamRoundedLight;
	src: url(gotham-rounded-light.otf);
}

.title
{
	font: 900 70px/80px gothamRoundedLight, Helvetica, Arial, sans-serif;
	letter-spacing: 2px;
	margin: 10px 0;
}

.headline
{
	text-align: center;
	padding: 12px 0 110px;
}

.title .logo
{
	background: url(scoutomic_nobg.png) center 0 no-repeat;
	height: 181px;
	overflow: hidden;
	text-indent: -9999em;
	width: 236px;
	margin: 0 auto 26px;
}

.title small
{
	display: block;
	color: #3498db;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 0;
	padding-top: 5px;
}

.container
{
	text-align: center;
}

.column-left
{
	float: left;
	width: 33%;
}

.column-right
{
	float: right;
	width: 33%;
}

.column-center
{
	display: inline-block;
	width: 33%;
}
